body{
    background: rgb(51, 128, 131);
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0px;
    margin: 10px auto;
    background-color: #7ba6b9;
    border-radius: 10%;
    
}


table tr td{
    height: 120px;
    width: 120px;
    border: 1px solid rgba(12, 12, 12, 0.05);
    font-size: 70px;
    border-radius: 10%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

table tr td:hover{
    background: #95adbe;;
    cursor: pointer;
    border-radius: 25px;
}

  h1{
   text-align: center;
   font-size: bold;
   color: black;
   font-size: 50px;
  

}
.btn{
    text-align: center; 
}


button{
    text-align: center;
    cursor: pointer;
    background-color: rgb(43, 43, 121);
    font-size: 20px;
    color: cornsilk;
    border-radius: 13px;
    padding: 8px 24px;
    
    

}
